body {
  text-align: center;
  width: 100vw;
}

.row {
  width: fit-content;
  overflow-y: hidden;
  float: right;
  padding-right: 50px;
}

.column {
  transform: rotateZ(90deg) translateX(-70px);
  float: left;
  padding: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  background-color: rgba(109, 252, 252, 0.795);
  border-radius: 10px;
  margin-right: -80px;
}

.containerTab {
  padding: 20px;
  background-color: rgba(187, 67, 243, 0.795);
  border-radius: 30px;
  width: 90%;
  margin: 0px auto 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.containerTab h2 {
  padding: 1em;
}

.page-container h3 {
  padding: 0.5em;
}
