@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("http://fonts.cdnfonts.com/css/nexa-bold?styles=29919");
/* @import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap"); */

:root {
  --brown-color: #4f4049;
  --yellow-color: #f5d491;
}

* {
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-conatiner {
  flex: 1;
  position: relative;
  width: 100vw;
}

/* Navbar */

.topnav {
  position: sticky;
  top: 0px;
  z-index: 5;
  width: 100%;
  /* overflow: hidden; */
  background-color: #333333;
  color: var(--yellow-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15em;
}

.topnav a:nth-child(5) {
  margin: 2em 1em;
}

.topnav a img {
  width: 90px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin: 2em 1em;
  font-family: "Montserrat", sans-serif;
}

.dropdown .dropbtn {
  font-size: 1.15em;
  border: none;
  outline: none;
  color: inherit;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(48, 48, 48);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-left: 1.2em;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(60, 60, 60);
  border-radius: 2.5px;
}

.dropdown-content a:hover {
  background-color: rgb(65, 65, 65);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 940px) {
  .topnav {
    display: block;
  }
  .topnav a {
    display: block;
    float: left;
  }
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a:nth-child(5) {
    margin: 0px;
  }
}

@media screen and (max-width: 940px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
    margin: 0px;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Footer */
footer {
  margin-top: auto;
  display: flex;
  background-color: #333333;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
}

.fcontact,
.links,
.social {
  /* flex: 33%;*/
  min-width: 250px;
  max-width: 350px;
  margin: 1em auto;
  text-align: center;
  justify-content: center;
}

.fcontact {
  text-align: left;
  margin: 1em auto;
  padding: 1em;
}

.links a,
.social a {
  text-decoration: none;
  color: white;
}

.fcontact img {
  width: 130px;
}

.fcontact .fa {
  color: white;
  font-size: 1.2rem;
  transition: 200ms ease-in-out;
  padding: 0.25em;
  padding-right: 0.75em;
}

.fcontact .fa:hover {
  color: rgba(206, 62, 62, 0.763);
}

.links {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.links a {
  /* margin-left: 40%; */
  transition: 200ms ease-in-out;
  padding: 0.15em 0;
}

.links a:hover {
  padding-left: 15px;
  color: var(--yellow-color);
}

.social a img {
  width: 30px;
  transition: 200ms ease-in-out;
}

.social {
  margin: auto;
}

.social div,
.social a {
  padding: 0.15em;
}

.social a {
  width: 40px;
  height: 40px;
}

.social a img:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.12, 1.12, 1.12);
    transform: scale3d(1.12, 1.12, 1.12);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.12, 1.12, 1.12);
    transform: scale3d(1.12, 1.12, 1.12);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.copyright {
  margin-top: 10px;
  width: 100%;
  bottom: 0px;
  display: block;
  background-color: #141414;
  padding: 1em;
  text-align: center;
}

footer a,
footer address {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.fcontact div:first-child,
.links div,
.social div {
  padding: 0.25em;
  font-family: "Monserrat", sans-serif;
  font-size: 1.2em;
  color: var(--yellow-color);
}

.links a {
  padding-left: 0.5em;
}

footer hr {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  footer .fcontact {
    margin: 1em;
  }
  footer .links {
    margin: 0 1em;
    padding: 0 1em;
  }
  footer hr {
    display: block;
    width: 90%;
    height: 4px;
    background-color: #3a3a3a;
    margin: 1em auto;
    border-radius: 20%;
    border: none;
  }
}
