body {
  align-content: center;
  margin: auto;
}

h2 {
  text-align: center;
  display: block;
  padding: 1em;
}

.contributer {
  display: block;
  background-color: rgb(7, 10, 149);
  border-radius: 10px;
  color: white;
  padding: 1em;
  margin: 0.5em auto;
  width: 90%;
  transition: ease 100ms;
}

.contributer h3 {
  padding: 0.25em;
}

.contributer:hover {
  padding: 1.2em;
}
