.head-nav {
  display: block;
  background-color: var(--yellow-color);
  text-align: center;
  transition: 0.3s;
  padding: 10px;
}

.head-nav::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.head-nav h2 {
  display: inline-block;
  color: var(--brown-color);
  vertical-align: middle;
}

.head-nav button {
  display: inline-block;
  padding: 0.5em;
  background-color: var(--brown-color);
  color: var(--yellow-color);
  border: none;
  vertical-align: middle;
  font-size: 1.1em;
  margin-left: 20px;
  transition: 0.3s;
}

.head-nav button:hover {
  font-size: 1.15em;
}

.swiper-cover {
  position: relative;
}

.banner-pagination {
  position: relative;
  margin-top: -1%;
  user-select: none;
  z-index: 1;
}

.banner {
  height: auto;
  width: calc(100vw - 10%);
  margin-top: calc(10% / 2);
  z-index: -1;
}

.banner-button-next,
.banner-button-prev {
  user-select: none;
  z-index: 1;
}

.notable-alumni {
  height: 250px;
  width: 90%;
  margin-left: 5%;
  margin-top: calc(10% / 2);
  z-index: 1;
}

.notable-alumni img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.notable-alumni .swiper-slide {
  text-align: center;
}

/* Spotlight */
.spotlight,
.newsletter {
  display: flex;
  background-color: var(--yellow-color);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.spotlight-content,
.newsletter-content {
  width: auto;
  padding: 1em;
  color: #112d4e;
  width: 50%;
}

.spotlight-content h2,
.newsletter-content h2 {
  margin-bottom: 10px;
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
}

.spotlight-content p,
.spotlight-content div,
.newsletter-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.spotlight-content div {
  margin-top: 2.5%;
}

.spotlight-frames iframe {
  width: 35vw;
  height: calc(35vw * 0.562);
  padding: 1em;
}

.YT-Link {
  text-decoration: none;
  color: var(--yellow-color);
  background-color: #112d4e;
  padding: 0.25em;
  border-radius: 5px;
  transition: ease-in 200ms;
}

.YT-Link:hover {
  font-weight: 300;
  background-color: #1c4777;
}

/* NewsLetters */
.newsletter {
  flex-direction: row-reverse;
  background-color: rgba(46, 33, 230, 0.973);
}

.newsletter-releases,
.swiper-wrapper {
  width: 40vw;
}

.newsletter-releases img {
  width: 225px;
  padding: 1em;
}

.newsletter-releases a {
  position: absolute;
  left: 25%;
  transform: translate(-25%, 0);
  bottom: 60px;
  padding: 0.4em;
  border-radius: 10px;
  background-color: var(--yellow-color);
  color: red;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .spotlight,
  .newsletter {
    flex-direction: column;
  }
  .spotlight-content,
  .newsletter-content {
    width: 90%;
  }
  .spotlight-frames iframe {
    width: 90vw;
    height: calc(90vw * 0.562);
  }
  .newsletter-releases {
    width: 90vw;
  }
  .newsletter-releases a {
    left: 120%;
    transform: translate(-120%, 0);
  }
}
