.main {
  display: block;
  padding: 1em;
  background-color: #f5d491;
  color: #112d4e;
}

.main .college-name {
  display: block;
  text-align: center;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.stats count p {
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

.main hr {
  width: 90%;
  margin: 1em auto;
  background-color: #333333;
  height: 3px;
  border: none;
  border-radius: 90%;
}

.main .stats {
  display: flex;
}

.main .stats count {
  flex: 50%;
  text-align: center;
}

.main .quick-links {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

.main .quick-links div {
  cursor: pointer;
  flex: 20%;
  margin: 1em;
  display: inline;
  padding: 1em;
  color: #f5d491;
  border-radius: 10px;
  background-color: #112d4e;
}

.main .quick-links div:hover {
  background-color: #1a416e;
}

@media screen and (max-width: 700px) {
  .main .quick-links {
    flex-direction: column;
  }
  .main .quick-links div {
    margin: 0.25em;
    padding: 0.5em;
  }
  .main .college-name {
    font-size: 1.5rem;
  }
  .stats count p {
    font-size: 1.1rem;
  }
}

.spotlight-content p,
.newsletter-content p {
  text-align: justify;
}

.swiper-cover {
  position: relative;
  margin-top: -3%;
  margin-bottom: 3%;
}

.banner-pagination {
  position: relative;
  margin-top: -1%;
  user-select: none;
  z-index: 1;
}

.banner {
  height: auto;
  width: calc(100vw - 10%);
  margin-top: calc(10% / 2);
  z-index: -1;
}

.banner-button-next,
.banner-button-prev {
  user-select: none;
  z-index: 1;
}

.notable-alumni {
  height: 250px;
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
  z-index: 1;
}

.notable-alumni img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.notable-alumni .swiper-slide {
  text-align: center;
}

/* Spotlight */
.spotlight,
.newsletter {
  display: flex;
  background-color: var(--yellow-color);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

.newsletter {
  background-color: #112d4e;
}

.spotlight-content,
.newsletter-content {
  width: auto;
  padding: 1em;
  color: #112d4e;
  width: 50%;
}

.newsletter-content {
  color: var(--yellow-color);
}

.spotlight-content h2,
.newsletter-content h2 {
  margin-bottom: 10px;
  font-family: "Nexa", sans-serif;
  font-size: 3rem;
}

.spotlight-content p,
.spotlight-content div,
.newsletter-content p,
q {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.spotlight-content div {
  margin-top: 2.5%;
}

.spotlight-frames iframe {
  width: 35vw;
  height: calc(35vw * 0.562);
  padding: 1em;
}

.YT-Link {
  text-decoration: none;
  color: var(--yellow-color);
  background-color: #112d4e;
  padding: 0.25em;
  border-radius: 5px;
  transition: ease-in 200ms;
}

.YT-Link:hover {
  font-weight: 300;
  background-color: #1c4777;
}

/* NewsLetters */
.newsletter {
  flex-direction: row-reverse;
}

.newsletter-content {
  width: 60%;
  margin: 0 auto;
}

/* .newsletter-releases .swiper-wrapper {
  width: 30vw;
  position: relative;
} */

.newsletter-releases {
  width: 300px;
}

/* .newsletter-releases {
  width: 225px;
} */

.newsletter-releases img {
  width: inherit;
  height: inherit;
  padding: 1em 0;
}

.newsletter-releases a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 60px;
  padding: 0.4em;
  border-radius: 10px;
  background-color: var(--yellow-color);
  color: red;
  text-decoration: none;
}

.page-container .title {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 3rem;
  margin: 0.5em;
  font-weight: 2rem;
  text-shadow: 5px 2px 5px #333333;
}

.newsletter img {
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .spotlight,
  .newsletter {
    flex-direction: column;
  }
  .spotlight-content,
  .newsletter-content {
    width: 90%;
  }
  .spotlight-frames iframe {
    width: 90vw;
    height: calc(90vw * 0.562);
  }
  .newsletter-releases {
    width: 80vw;
  }
  .newsletter-releases a {
    left: 42%;
    transform: translate(-42%, 0);
  }
  .spotlight-content h2,
  .newsletter-content h2,
  .page-container .title {
    font-size: 2rem;
  }
}
