@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

.spotlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.spotlight {
  padding: 1em;
  margin: 0.5em;
  background-color: #f5d491;
  display: inline-block;
  border-radius: 10px;
  max-width: 560px;
  color: #112d4e;
}

.spotlight iframe {
  max-width: 560px;
  max-height: 315px;
  width: 90vw;
  height: calc(0.5625 * 90vw);
}

.spotlight .description .name {
  font-family: "Domine", serif;
  font-size: 1.6rem;
  margin: 0.25em;
  margin-left: 15px;
}

.spotlight .description .batch {
  font-family: "Montserrat", sans-serif;
  margin: 0.25em;
  font-size: 1.1rem;
  margin-left: 15px;
}

.spotlight .description p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 1em;
  margin: 0;
  text-align: justify;
}

@media screen and (max-width: 940px) {
}
