.page-container {
  width: 100%;
  text-align: center;
}

.row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-y: hidden;
  position: absolute;
  right: 0px;
  float: right;
  height: 250px;
  padding-right: 50px;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 15px;
}

.column {
  -webkit-transform: rotateZ(90deg) translateX(-40px);
  -ms-transform: rotate(90deg) translateX(-40px);
  transform: rotateZ(90deg) translateX(-40px);
  float: left;
  padding: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  background-color: rgba(109, 252, 252, 0.795);
  margin-right: -80px;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  border-radius: 15px;
}

.column:hover {
  margin-top: 85px;
}

.containerTab {
  padding: 5%;
  background-color: var(--brown-color);
  color: var(--yellow-color);
  border-radius: 30px;
  width: 87.5%;
  margin: 5% auto 20px;
  text-align: center;
}

.containerTab h2,
.containerTab h3 {
  font-family: "Nexa", sans-serif;
  font-size: 2.75rem;
  text-align: center;
}

.containerTab h3 {
  font-size: 2rem;
}

.containerTab p,
.containerTab ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  padding: 0.25em;
}

.containerTab ul {
  margin: 0.75em;
  margin-left: 1em;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.containerTab h2 {
  padding: 1em auto;
  padding-top: 1em;
}

.page-container h3 {
  padding: 0.5em;
}

.gallary {
  padding: 0.75em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: -moz-max-content;
  margin: 1em auto;
  background-color: #112d4e;
  color: var(--yellow-color);
  border-radius: 10px;
  -webkit-transition: ease 500ms;
  -o-transition: ease 500ms;
  transition: ease 500ms;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.gallary:hover {
  -webkit-transform: scale3d(1.12, 1.12, 1.12);
  transform: scale3d(1.12, 1.12, 1.12);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .row {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    float: none;
  }
  .column {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    float: none;
    display: block;
    padding: 0.5em;
    width: 90%;
    margin: 0.25em auto;
  }
  .containerTab {
    margin: 2% auto;
    border-radius: 0;
    width: 90%;
    padding-top: 0px;
  }
  .column:hover {
    margin-top: 0.25em;
  }
  .page-container {
    overflow-x: hidden;
  }
}

.event-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 2em;
}

.event-detail p {
  color: var(--yellow-color);
  /* padding: 0.25em; */
  max-width: 70%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  text-align: justify;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.event-detail-pic {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.event-detail-pic img {
  height: calc(40vw * 0.562);
  min-height: 200px;
  max-height: 300px;
  border-radius: 5px;
}

@media screen and (max-width: 1080px) {
  .event-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 0px;
  }
  .event-detail p {
    max-width: none;
    width: 90%;
  }
}

.horbreak {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--yellow-color);
  margin: 0 auto;
}

.panel-discussions {
  margin: 2em 0;
}

.panel-discussions img {
  margin: 0.5em;
  max-width: 85vw;
}

.panel-discussions p {
  width: 90%;
  margin: 0 auto;
}
