<footer>
  <div class="contact">
    <img src="./Assets/Images/logo.png" alt="Fr.CRCE Alumni logo" />
    <address>
      Fr. AgnelAshram, Bandstand, Bandra (W). Mumbai 400050. MH. IN.
    </address>
  </div>
  <div class="links">
    <a href="">About</a>
    <a href="">Contact Us</a>
    <a href="">Contributions</a>
    <a href="">Give Back</a>
    <a href="">Events</a>
  </div>
  <div class="social">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram-square"></i></a>
    <a href=""><i class="fa-brands fa-linkedin"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
  </div>
</footer>
