<footer>
  <div class="fcontact">
    <div class="head">Connect with Us</div>
    <div>
      <a
        href="https://www.google.com/maps/place/Fr+Agnel+Ashram/@19.0444997,72.817815,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7c93faccf388f:0xdaeca730160da8c2!8m2!3d19.0444767!4d72.8199962"
        style="text-decoration: none; color: white; display: flex"
        target="_blank"
        ><i class="fa fa-location-dot" aria-hidden="true"></i>
        Fr. AgnelAshram, Bandstand, Bandra (W). Mumbai 400050. MH. IN.
      </a>
      <a
        href="mailto:alumni@fragnel.edu.in"
        style="text-decoration: none; color: white"
        ><i class="fa fa-envelope"> </i>alumni@fragnel.edu.in<br
      /></a>
      <a href="tel:+9102267114000" style="text-decoration: none; color: white"
        ><i class="fa fa-phone"> </i>+91 (22) 6711 4000</a
      >
    </div>
  </div>
  <div class="links">
    <div class="head">Quick Links</div>
    <div class="link"><a href="/About/Association">About</a></div>
    <div class="link"><a href="/Activity/Gallery">Gallery</a></div>
    <div class="link"><a href="/Contributions">Contributions</a></div>
    <div class="link"><a href="/Give/Corpus">Give Back</a></div>
    <div class="link"><a href="/">Events</a></div>
  </div>
  <hr />
  <div class="social">
    <div class="head">Follow Us on</div>
    <a href="https://www.facebook.com/alumnifrcrce/" target="_blank"
      ><img class="pulse" src="/Assets/Images/facebook.svg" alt=""
    /></a>
    <a href="https://www.instagram.com/alumnifrcrce/" target="_blank"
      ><img class="pulse" src="/Assets/Images/instagram.svg" alt=""
    /></a>
    <a href="https://www.linkedin.com/groups/87531/" target="_blank"
      ><img class="pulse" src="/Assets/Images/linkedin.svg" alt=""
    /></a>
    <a href="https://frcrce.almaconnect.com" target="_blank"
      ><img class="pulse" src="/Assets/Images/Almaconnect.svg" alt=""
    /></a>
    <a
      href="https://www.youtube.com/channel/UCtiQYgwX723EJALIcGVvlBQ"
      target="_blank"
      ><img class="pulse" src="/Assets/Images/youtube.svg" alt=""
    /></a>
  </div>
  <div class="copyright">
    © COPYRIGHT ALUMNI COMMITTEE OF FR.CONCEICAO RODRIGUES COLLEGE OF
    ENGINEERING 2022.
  </div>
</footer>
