<footer>
  <div class="fcontact">
    <!-- <img src="/Assets/Images/logo.png" alt="Fr.CRCE Alumni logo" /> -->
    <div>Connect with Us</div>

    <div>
      <a
        href="https://www.google.com/maps/place/Fr+Agnel+Ashram/@19.0444997,72.817815,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7c93faccf388f:0xdaeca730160da8c2!8m2!3d19.0444767!4d72.8199962"
        style="text-decoration: none; color: white; display: flex"
        target="_blank"
        ><i class="fa fa-location-dot" aria-hidden="true"></i>
        <address>
          Fr. AgnelAshram, Bandstand, Bandra (W). Mumbai 400050. MH. IN.
        </address>
      </a>
      <a
        href="mailto:alumni@fragnel.edu.in"
        style="text-decoration: none; color: white"
        ><i class="fa fa-envelope"> </i>alumni@fragnel.edu.in<br
      /></a>
      <a href="tel:+910222845 8973" style="text-decoration: none; color: white"
        ><i class="fa fa-phone"> </i>(022) 2845 8973</a
      >
    </div>
  </div>
  <div class="links">
    <div>Quick Links</div>
    <a href="/About/Association">About</a>
    <a href="/Contact">Contact Us</a>
    <a href="/Contributions">Contributions</a>
    <a href="/Give/Corpus">Give Back</a>
    <a href="/">Events</a>
  </div>
  <hr />
  <div class="social">
    <div>Follow Us on</div>
    <a href="https://www.facebook.com/alumnifrcrce/" target="_blank"
      ><img src="/Assets/Images/facebook.svg" alt=""
    /></a>
    <a href="https://www.instagram.com/alumnifrcrce/" target="_blank"
      ><img src="/Assets/Images/instagram.svg" alt=""
    /></a>
    <a href="https://www.linkedin.com/groups/87531/" target="_blank"
      ><img src="/Assets/Images/linkedin.svg" alt=""
    /></a>
    <a href="https://frcrce.almaconnect.com" target="_blank"
      ><img src="/Assets/Images/Almaconnect.svg" alt=""
    /></a>
    <a
      href="https://www.youtube.com/channel/UCtiQYgwX723EJALIcGVvlBQ"
      target="_blank"
      ><img src="/Assets/Images/youtube.svg" alt=""
    /></a>
  </div>
  <div class="copyright">
    © COPYRIGHT ALUMNI COMMITTEE OF FR.CONCEICAO RODRIGUES COLLEGE OF
    ENGINEERING 2022.
  </div>
</footer>
