<nav class="topnav" id="myTopnav">
  <a href="/"><img src="/Assets/Images/logo.webp" alt="" /></a>
  <div class="dropdown">
    <button class="dropbtn">
      About
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/About/Association">Association</a>
      <a href="/About/Team">Team</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      Activity
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/Activity/Anual-Report">Annual Rpt.</a>
      <a href="/Activity/Spotlights">Spotlights</a>
      <a href="/Activity/Gallary">Gallary</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      Give
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/Give/Corpus">Corpus</a>
      <a href="/Give/Foreign-Chapter">Foreign Chpt.</a>
      <a href="/Give/Mentorship">Mentorship</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      Contributions
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/Contributions/Contributers">Contributers</a>
      <a href="/Contributions/Testimonials">Testimonials</a>
    </div>
  </div>
  <a
    href="javascript:void(0);"
    style="font-size: 25px; margin: 1em"
    class="icon"
    onclick="myFunction()"
    >&#9776;</a
  >
</nav>
